.brands {
  display: flex;
  align-content: flex-start;
  flex-flow: row wrap;
}

.brand-holder {
  width: 32%;
  height: 33%;
  background-color: grey;
  background-image:url("https://via.placeholder.com/300x200");
  background-size: contain;
}

.brand-img {
  max-width: auto;
  max-height: 100%;
}

.body-copy {
  font-size: 1.15rem;
  line-height: 1.8rem;
}

.btn {
  line-height: 2.8rem;
  border-radius: .15rem;
}

.btn-primary {
  background-color: #e36f1e;
  border-color: #e36f1e;
}

.first-nav-border {
  border-bottom: 1px solid lightgrey;
}

.form-control {
  height: 3.5rem;
  border-radius: .15rem;
}

.history {
  padding-top: 5rem;
}

.honored-top {
  font-style: italic;
  color: #575a5d;
  margin-bottom: -4.5rem;
}

.honored-bottom {
  font-style: italic;
  color: #575a5d;
}

.img-headline {
  font-size: 2.6rem;
  letter-spacing: 0.15rem;
}

.img-sub-headline {
  font-size: 1.2rem;
}

.just-for-link {
  font-size: 0.9rem;
}

.just-for-link:nth-of-type(n+2) {
  font-weight: 700;
}

.just-for-link .nav-link {
  padding: 0.5rem 0.5rem;
}

.main-img-copy {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.second-nav-border {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.q-link-icon, .q-link-text {
  color: #185C9A;
  font-weight: 600;
}

.started-area {
  background-color: #F4F8FB;
}

.tx-img-placeholder {
  height: 100%;
  width: 100%;
  background-color: lightgray;
}

.tx-q-link {
  font-weight: 700;
  text-decoration: none !important;
}

.year {
  font-size: 12.5rem;
  color: #003767;
  font-weight: 700;
}

.year-text {
  font-size: 1.8rem;
  color: #003767;
  font-weight: 700;
  margin-top: -3.75rem;
}

a.nav-link.left-nav-link {
  font-size: 1.15rem;
  color: black;
  font-weight: 600;
  padding: 1rem 1rem;
}

a.nav-link.right-nav-link {
  padding: 1.6rem 2.75rem;
  font-weight: 700;
  font-size: 0.9rem;
}

nav.navbar {
  padding-bottom: 0;
  padding-top: 0;
}

p.nav-link {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 320px) {

  .body-copy {
    font-size: 1rem;
  }

  .brands {
    margin-top: 4rem;
  }

  .brand-holder {
    width: 50%;
    height: 8rem;
  }

  .form {
    width: 75%;
    margin: 0 auto;
  }

  .form-area {
    width: 95%;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-copy {
    font-size: 1.4rem;
    width: 85%;
    margin: 0 auto;
  }

  .form-control-lg {
    border-radius: 0 !important;
  }

  .img-headline {
    font-size: 2rem;
  }

  .img-sub-headline {
    font-size: 1rem;
  }

  .logo {
    width: 8rem;
    height: 3rem;
    background-color: blue;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .main-img-copy {
    width: 90%;
  }

  .main-img-left {
    height: 45vh;
    width: 100%;
    background-color: darkblue;
    color: white;
  }

  .main-img-right {
    height: 45vh;
    width: 100%;
    background-color: lightblue;
    color: white;
  }

  .mt-6 {
    margin-top: 4rem;
  }

  .pt-6 {
    padding-top: 4rem;
  }

  .pt-7 {
    padding-top: 5rem;
  }

  .pt-8 {
    padding-top: 6rem;
  }

  .q-link-holder {
    padding-top: 1rem;
    padding-bottom: 1rem;

  }

  .q-link-icon, .q-link-text {
    text-align: left;
    padding: 1rem;
  }

  .q-link-text {
    font-size: 1.1rem;
  }

  .quote-icon {
    color: #185C9A;
    display: block !important;
    text-align: center !important;
  }

  .quote-ref {
    text-align: center;
    color: #003767;
    font-weight: 400;
    font-size: 1.1rem;
    border-bottom: 1px solid lightgray;
  }

  .quote-text {
    font-style: italic;
    color: #003767;
    font-weight: 700;
    font-size: 1.4rem;
  }

  .read-story {
    text-align: center;
    color: #0063B8;
    font-weight: 700;
    padding-bottom: 3rem;
  }

  .started-copy {
    display: none;
  }

  .story-area {
    background-color: #F4F8FB;
  }

  .story-copy {
    color: #003767;
  }

  .story-headline {
    color: #003767;
    font-weight: 700;
    margin-bottom: 0rem;
  }

  .section-header {
    font-size: 1.45rem;
  }

  .temp-footer {
    height: 500px;
    width: 100%;
  }

  .tx-q-link {
    font-size: 1.1rem;
  }

  div.brand-holder:last-of-type {
    display: none;
  }

}

@media (min-width: 576px) {

  .brands {
    margin-top: 0;
  }

  .brand-holder {
    width: 32%;
    height: 32%;
  }

  .started-copy {
    display: inline-block;
    font-size: 1.18rem;
  }

  div.brand-holder:last-of-type {
    display: block;
  }

}

@media (min-width: 768px) {

  .fas {
    display: block !important;
  }

  .q-link-icon, .q-link-text {
    display: block;
    text-align: center;
  }

}

@media (min-width: 992px) {


}


@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
